body {
  font-family: Arial, sans-serif;
  background: #f3f6f9;
  margin: 0;
  padding: 0;
}

.container {
  padding: 16px;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-top: 16px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2ecc71;
  color: white;
  font-size: 16px;
}
